body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add enough space for the content to start below the navbar */
.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-select-container {
  margin: 20px 0; /* Adjust margin as needed */
}

.restaurant-list {
  padding: 20px;
  margin-top: 30px;
  margin-left: 20px;
  height: calc(100vh - 150px);
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Restaurant row configuration */
.restaurant-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/* Restaurant items now fit four in a row */
.restaurant-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc(25% - 15px);
  height: auto;
  margin-bottom: 20px;
  margin-right: 15px;
}

.restaurant-item:hover {
  transform: translateY(-5px);
}

/* Restaurant image and info */
.restaurant-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.restaurant-info {
  padding: 15px;
  text-align: center;
}

.restaurant-info h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.restaurant-info p {
  margin: 5px 0;
  color: #666;
}

.add-to-cart-button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-button:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}

/* Adjust the location select position */
.location-select {
  padding: 10px;
  margin-right: 1000px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  width: 200px; /* Fixed width for better alignment */
}

/* Responsiveness adjustments */

/* For screens larger than 1200px */
@media (max-width: 1200px) {
  .restaurant-item {
    width: calc(33.33% - 15px); /* Three items per row */
  }
}

/* For tablet screens and smaller */
@media (max-width: 800px) {
  .restaurant-item {
    width: calc(50% - 15px); /* Two items per row */
  }
}

/* For small mobile screens */
@media (max-width: 500px) {
  .restaurant-item {
    width: 100%; /* One item per row */
  }
}

.rating-stars {
  cursor: pointer;
  margin: 10px 0;
}
