/* General Navbar Styling */
.navbar {
    background-color: rgba(245, 244, 212, 0.8);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo img {
    height: 75px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links li a,
.logout-link {
    /* Apply same styles to a tags and logout-link */
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.navbar-links li a:hover,
.logout-link:hover {
    /* Same hover effect */
    background-color: #0056b3;
    color: #ffffff;
}

/* Responsive Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.navbar-responsive .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(245, 244, 212, 0.9);
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.navbar-responsive .navbar-links li {
    margin: 10px 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar.navbar-responsive .navbar-links {
        display: flex;
    }
}